<style>

html {
		font-size: 14px;
	}

body {
	margin: 0;
	padding: 0;
  height: 100%;
	color: rgba(0, 0, 0, .85);
	font-size: .9em;
	font-family: helvetica, sans-serif; 
	color: color: rgba(0, 0, 0, .75);
}

#main {
	width: 75%;
	margin: auto;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: white;
	border-bottom: 2px solid rgba(183, 65, 191, 1);
}

#header-img {
	height: 40px;
	float: left;
	padding: 14px 16px;
	margin-right: 0;
}

#nav-bar ul {
	list-style-type: none;
	float: right;
}

#nav-bar li {
	float: left;
}

#nav-bar a{
	font-size: 17px;
	display: block;
	text-align: center;
  	padding: 10px 10px;
  	text-decoration: none;
  	margin-right: 20px;
  	margin-top: 5px;
  	color: rgba(0, 0, 0, 1);
}

#nav-bar a:hover {
	color: #B741BF;
}

#banner {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 35px;
	background-color: rgba(183, 65, 191, .1);
}

#banner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.bannerinner {
	display: inline-block;
  	vertical-align: middle;
}

#banner img {
	width: 50%;
	display: inline-block;	
	margin-top: 90px;
	margin-bottom: 35px;
}

#banner p {
	line-height: 1.2em;
	font-size: 1.3em;

}

#banner h1 {
	font-size: 2.5em;
	margin-bottom: 0;
}

#header-text {
	width: 40%;
	display: inline-block;	
	margin-top: 50px;
	font-size: 15px;

}

#banner-button {
  background-color: #B741BF; 
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  padding: 10px 30px;
  margin-bottom: 35px;
}

#banner-button:hover {
	box-shadow: 2px 2px 8px 0 rgba(183, 65, 191, .75);
}

#benefits {
	text-align: center;
	font-size: 1.1em;
}

#benefits h2 {
	padding-top: 75px;
	font-size: 1.85em;
	margin-bottom: 5px;
}

#benefits-list {
   width: 68%;
   display: block;
   margin: auto;
}

.star {
	height: 18px;
	margin-bottom: 0;
}


.list1 {
	margin-bottom: 0; 
	font-size: 1.3em;
}

.list2 {
	padding-top: 0;
	margin-top: 0;
	line-height: 1.2em;
	font-size: 1.1em;
}

.list-benefits {
	list-style: none;
	padding: 8px 10px 8px 10px;
	margin-right: 40px;
}

#video {
	display: block;
	margin: auto;
	height: 300px;
	width: 100%;
	margin-top: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 25px;
}

#products h2 {
	padding-top: 75px;
	font-size: 2em;
	display: block;
	margin: auto;
	width: 100%;
	margin-bottom: 25px;
}

.box1 {
  width: 46%;
  font-size: 30px;
  border: 2px solid rgba(183, 65, 191, 1);
  margin: 10px;
  display: block;
  margin: auto;
}

.box2 {
  width: 46%;
  font-size: 30px;
  border: 2px solid rgba(183, 65, 191, 1);
  margin: 10px;
  display: block;
  margin: auto;
}

.product-heading h3 {
	font-size: .85em;
	padding: 15px;
	background-color: rgba(183, 65, 191, .1);
	margin-top: 0;
	margin-bottom: 20px;
}

.product-image img {
	width: 90%;
	display: inline-block;	
	padding: 0;
	margin: 0;	
}

.product-price p {
	font-size: .7em;
	margin-top: 20px;
	margin-bottom: 0;
}

.product-button button {
	background-color: #B741BF; 
  	color: white;
  	padding: 10px;
  	text-align: center;
  	font-size: 16px;
  	border: none;
  	padding: 10px 30px;
  	margin-bottom: 40px;
  	margin-top: 30px;
}

.product-button button:hover {
	box-shadow: 2px 2px 8px 0 rgba(183, 65, 191, .75);
}

#contact {
	background-color: rgba(183, 65, 191, .10);
	width: 100%;
	margin-bottom: 100px;
	margin-top: 100px;
	padding-top: 40px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 30px;
	width: 100%;
}

.form-group {
	width: 65%;
	display: block;
	margin: auto;
}

#contact h2 {
	font-size: 1.75em;
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;
}

#name-label, #email-label {
	margin-bottom: 8px;
	font-size: 1.2em;
	display: flex;
}

#email, #name {
	margin-bottom: 20px;
	height: 30px;
	width: 96%;
	border: none;
	font-size: 1.1em;
	padding-left: 10px;
}

.btn {
	background-color: #B741BF; 
  	color: white;
  	text-align: center;
  	font-size: 16px;
  	border: none;
  	padding: 10px 50px;
  	display: block;
	margin: auto;
}

#contact p {
	font-size: 1.1em;
	text-align: center;

}

@media (max-width: 575px) {
	#all-content {
			margin-top: 150px; 
			height: calc(100vh - 150px);
			overflow: auto;
		}

	#header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 175px;
		padding-bottom: 20px;
		background-color: white;
		border-bottom: 2px solid rgba(183, 65, 191, 1);
	}

	#header-img {
		height: 40px;
		float: none;
		padding: 14px 0px;
		display: block;
		margin: auto;
		margin-bottom: 0;
	}

	#nav-bar ul {
		margin-top: 0;
		list-style-type: none;
		float: none;
	}	

	#nav-bar li {
		float: none;
	}

	#nav-bar a{
		font-size: 17px;
		display: block;
		text-align: center;
		padding: 5px 10px;
		text-decoration: none;
		color: rgba(0, 0, 0, 1);
	}

	#nav-bar a:hover {
		border: none;
		color: #B741BF;
		padding: 5px;
	}

	#nav-bar a:active {
		background-color: white;
		color: #B741BF;
	}
	}

 @media (max-width: 700px) {
 .flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#products h2 {
	font-size: 2em;
	display: block;
	margin: auto;
	width: 100%;
	margin-bottom: 25px;
}

.box1 {
  width: 100%;
  font-size: 30px;
  border: 2px solid rgba(183, 65, 191, 1);
  margin: 10px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.box2 {
  width: 100%;
  font-size: 30px;
  border: 2px solid rgba(183, 65, 191, 1);
  margin: 10px;
  display: block;
  margin: auto;
}

 }


</style>